# dependencies
node_modules/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# testing
coverage/

# production
build/
dist/
.expo/
.expo-shared/

# misc
.env
.env.local
.env.*.local
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/

# Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# IDE
.vscode
.idea
*.sublime-project
*.sublime-workspace
